/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Paginator */
@import "assets/css/paginator";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

@layer components {
  details.toc[open] summary ~ * {
    animation: slideUp 0.25s ease-in-out;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  details.toc[open] summary svg {
    @apply transform duration-200 rotate-180 ease-in-out;
  }

  details.toc > ul {
    @apply ml-4;
  }

  details.toc ul {
    @apply list-none;
    margin-top: 0.125rem /* 2px */ !important;
    margin-bottom: 0.125rem /* 2px */ !important;
  }
  details.toc ul li {
    margin-top: 0.125rem /* 2px */ !important;
    margin-bottom: 0.125rem /* 2px */ !important;
  }
  details.toc ul li:before {
    @apply rounded-none bg-gray-400;
  }
  details.toc ul li a {
    @apply no-underline text-gray-700 dark:text-gray-200 text-base;
  }

  a:empty {
    display: none;
  }
}
.brand {
  display:flex;
   justify-content: center;
}
.brand-title {
    margin-left:10px;
}
.header-color{
  background-color: #FFF;
  width: 100%;
}

.blog-card-border {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.truncate {
  display: -webkit-box;
     -webkit-box-orient: vertical;
     overflow: hidden;
     line-height: 1.5; /* 行高 */
     -webkit-line-clamp: 2; /* 显示的行数 */

     /* 显示省略号 */
     text-overflow: ellipsis;

     no-wrap: true;
 }

.truncate:hover {
  display: block; /* 鼠标悬浮时，取消行数限制 */
  -webkit-line-clamp: unset;
  overflow: visible;
  max-width: none; /* 悬浮时取消最大宽度限制 */
  white-space: normal; /* 允许内容自动换行 */
}